.output-markdown {
  font-size: 1rem;
}

.output-additional-link {
  margin: 1rem 0 1rem 0;
}

.output-boxed { 
  border: 2px solid white;
  padding: 0 1rem 0 1rem;
  margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .output-markdown img {
    width: 100%;
  }
}

.output-markdown img {
  background: white;
}

.output-gist-comments-comment {
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
